@import url('https://fonts.googleapis.com/css?family=Boogaloo|Courgette|Kalam');


html, body {
    height: 100%;
    margin: 0;
    padding:0;
}

h1{
    color: #FFF;
    font-family: courgette;
    font-size: 4em;
}

th {
    font-family: boogaloo, sans-serif;
    color: white;
    font-size: 1.2em;
}

td{
    font-family: kalam;
    font-size: 1.5em;
    color: #FFF;
    padding: 1%;
}

 .table-hover tbody tr:hover > td {
    background-color: rgba(100, 100, 100, 0.5);
}

.table-hover tbody tr:hover > th{
    background-color:transparent;
}


.btn{
    border: none;
    border-radius:0;
}

th{
    font-size: 2em;
}

#movie-display{
    opacity: 1.0;
}

table{
    background: rgba(0, 0, 0, 0.3);
}


body {
    background: url("./img/bg-img.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    position: relative;
    top: 50%;
    text-align: center;
}

#movie-name, #edit-name{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: kalam;
    font-size: 1.8em;
    outline: none;
    border: none;
    color:#fff;
    border-radius:0;
}

input:focus{
    background-color: rgba(0, 0, 0, 0.1);
    border:2px solid white;

}

input {
    margin-bottom: 1em;
}

#finish-edit-btn, #add-movie-btn {
    margin-top: 1em;
}


.submit-button {
    width: 100%;
}

.highlight {
    background-color: salmon;
}

/*Radios*/

.glyphicon-star {
    color: white;
}

/*input:active {*/
    /*color: yellow;*/
/*}*/


.active {
    background-color: salmon;
}

.disabled-field{
    background-color:grey;
}

#main-loading-img {
    width: 10%;
}
